#chapTitle {
	position:absolute;
	margin-top:8%;
	left:15%;
}
div.chapterDrop {
	position: absolute;
	margin-top:8.3%;
}
div.navButtons {
	position: absolute;
	margin-top:3.5%;
	margin-left:69%;
}
div.pages {
	position:absolute;
	overflow:hidden;
	margin-top:5%;
}
div.pages img{
	margin:0;
	padding:0;
	float:left;
	width:100%;
	height:auto;
}
div.chapterDropBot {
	position: absolute;
	bottom:0;
	left:0;
}
div.navButtonsBot {
	position: absolute;
	bottom:0;
	margin-left:69%;
}