div.profileText {
	position: relative;
	display:block;
	left:20px;
	margin-right: 5%;
	font-size:125%;
	min-height:400px;
	line-height:150%;
}
#chapters {
	position:relative;
	display:block;
	font-size:120%;
	margin-top:10%;
	margin-left: 2%;
}
div.profile {
	margin-top: 7%;
	margin-left: 2%;
}
div.profile img {
	height:400px;
	width:400px;
	float:left;
}
p.getChapter:hover {
	color:yellow;
}
h3.goBack {
	position:absolute;
	margin-top:4%;
	margin-left:2%;
	color: white;
}
h3.goBack:hover {
	color: red;
}