#myBtn {
  display: none;
  position: fixed;
  float:left;
  bottom: 20px;
  margin-left:78%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}